:root {
    --blue: #3185FC;
    --red: #A52422;
    --grey: #383D3B;
    --softGrey: #F4F2F3;
    --purple: #3D3A4B;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
}
/* Globales */
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
/* Utilities */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.text-center{
    text-align: center;
}
/* Header section */

header{
    background-color: var(--red);
    color: #F4F2F3;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
}
main{
    text-align: center;
    background-color: var(--softGrey);
}
.title{
    line-height: 4rem;
    padding: 4rem 0;
}
.stats-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}