:root {
    --blue: #3185FC;
    --red: #A52422;
    --grey: #383D3B;
    --softGrey: #F4F2F3;
    --purple: #3D3A4B;

    /* Pokedex Colors */
    --shadow: #82091e;
    --body: #bd0f34;
    --mainLight: #0bcdff;
    --redLight: #ec0a0b;
    --yellowLight: #e2e514;
    --greenLight: #72db19;

    --ScreenBorder: #dedede;
    --ScreenStats: #032d29;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
}
/* Globales */
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
/* Utilities */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.text-center{
    text-align: center;
}
/* Pokedex art */
.pokedex-shadow{
    height: auto;
    padding: 0 0 1.5rem 1rem;
    background-color: var(--shadow);
}
.pokedex-body{
    background-color: var(--body);
    height: auto;
    padding: 2rem;
}
.pokedex-lights{
    display: flex;
    margin-bottom: 4rem;
}
.pokedex-main-light__ring{
    background-color: white;
    width: 8.5rem;
    height: 8.5rem;
    position: relative;
    border-radius: 5rem;
}
.pokedex-main-light{
    background-color: var(--mainLight);
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
    position: relative;
    left: 1rem;
    top: .5rem;
}
.pokedex-lights-container{
    display: flex;
}
.pokedex-light-red{
    background-color: var(--redLight);
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
}
.pokedex-light-yellow{
    background-color: var(--yellowLight);
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
}
.pokedex-light-green{
    background-color: var(--greenLight);
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
}
.pokemon-screen-border{
    background-color: var(--ScreenBorder);
    border-radius: 2rem;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
}
.pokemon-screen{
    background-color: white;
    padding: 2rem;
    width: 28rem;
}
.search-container{
    margin: 4rem 0;
}
.search-container button{
    background-color: var(--blue);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 1rem;
    height: 4rem;
    padding: 0 3rem;
    margin-top: 2rem;
}
.screen-stats{
    background-color: var(--ScreenStats);
    border-radius: 2rem;
    margin-top: 4rem;
    color: var(--yellowLight);
}
@media (min-width: 768px){
    .pokedex-body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .stats-container{
        margin-top: 15rem;
    }
    .botones{
        padding-top: 3rem;
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .boton{
        background-color: var(--mainLight);
        min-width: 5.8rem;
        min-height: 5.8rem;
        border: 2px solid var(--blue);
    }
}
/* Header section */
header{
    background-color: var(--red);
    color: #F4F2F3;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
}
main{
    text-align: center;
    background-color: var(--softGrey);
}
.title{
    line-height: 4rem;
    padding: 4rem 0;
}
.stats-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
footer{
    background-color: var(--purple);
    color: white;
    margin-top: 5rem;
    text-align: center;
    padding: 4rem 0 ;
}
footer p {
    margin: 0;
}
footer a{
    color: var(--mainLight);
}